<div class=" mb-5 mt-3">
    <h4>Add a todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Todo title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo description</label>
      <input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add Todos</button>
  </form>
</div>